<div class="container">
    <div *ngIf="editForm.dirty" class="alert alert-info">
        <p>
          <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!</p>
    </div>
    <div class="jumbotron" style="margin-top: 90px;">
        <h5 class="display-3">Create Product: </h5>
        <form #editForm="ngForm" id="editForm" (ngSubmit)="createProduct()">
            <label for="name">Name: </label>
            <input type="text" name="name" class="form-control" [(ngModel)]="product.name">
            <div class="form-group">
                <label for="price" class="control-label">Price:</label>
                <div class="form-group">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input type="text" placeholder="0.00" name="price" class="form-control" [(ngModel)]="product.price"  aria-label="Amount (to the nearest dollar)">                    
                  </div>
                </div>
            </div>            
            <label for="available">Available: </label>
            <input type="checkbox" name="available" class="form-control" [(ngModel)]="product.available">
            <label for="description">Description: </label>
            <input type="text" name="description" class="form-control" [(ngModel)]="product.description">        
          </form>
        <p class="lead">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Add Product</button>
        </p>
    </div>
</div>